<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycq.ddshop.dao.BillMapper">
  <resultMap id="BaseResultMap" type="com.ycq.ddshop.pojo.po.Bill">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
    <result column="bnumber" jdbcType="INTEGER" property="bnumber" />
    <result column="bmoney" jdbcType="VARCHAR" property="bmoney" />
    <result column="pay" jdbcType="INTEGER" property="pay" />
    <result column="Supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="describ" jdbcType="VARCHAR" property="describ" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, bname, bnumber, bmoney, pay, Supplier, describ, time
  </sql>
  <select id="selectByExample" parameterType="com.ycq.ddshop.pojo.po.BillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ycq.ddshop.pojo.po.BillExample">
    delete from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ycq.ddshop.pojo.po.Bill">
    insert into bill (bid, bname, bnumber, 
      bmoney, pay, Supplier, 
      describ, time)
    values (#{bid,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR}, #{bnumber,jdbcType=INTEGER}, 
      #{bmoney,jdbcType=VARCHAR}, #{pay,jdbcType=INTEGER}, #{supplier,jdbcType=VARCHAR}, 
      #{describ,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ycq.ddshop.pojo.po.Bill">
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bname != null">
        bname,
      </if>
      <if test="bnumber != null">
        bnumber,
      </if>
      <if test="bmoney != null">
        bmoney,
      </if>
      <if test="pay != null">
        pay,
      </if>
      <if test="supplier != null">
        Supplier,
      </if>
      <if test="describ != null">
        describ,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bnumber != null">
        #{bnumber,jdbcType=INTEGER},
      </if>
      <if test="bmoney != null">
        #{bmoney,jdbcType=VARCHAR},
      </if>
      <if test="pay != null">
        #{pay,jdbcType=INTEGER},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="describ != null">
        #{describ,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ycq.ddshop.pojo.po.BillExample" resultType="java.lang.Integer">
    select count(*) from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bill
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.bname != null">
        bname = #{record.bname,jdbcType=VARCHAR},
      </if>
      <if test="record.bnumber != null">
        bnumber = #{record.bnumber,jdbcType=INTEGER},
      </if>
      <if test="record.bmoney != null">
        bmoney = #{record.bmoney,jdbcType=VARCHAR},
      </if>
      <if test="record.pay != null">
        pay = #{record.pay,jdbcType=INTEGER},
      </if>
      <if test="record.supplier != null">
        Supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.describ != null">
        describ = #{record.describ,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bill
    set bid = #{record.bid,jdbcType=INTEGER},
      bname = #{record.bname,jdbcType=VARCHAR},
      bnumber = #{record.bnumber,jdbcType=INTEGER},
      bmoney = #{record.bmoney,jdbcType=VARCHAR},
      pay = #{record.pay,jdbcType=INTEGER},
      Supplier = #{record.supplier,jdbcType=VARCHAR},
      describ = #{record.describ,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycq.ddshop.pojo.po.Bill">
    update bill
    <set>
      <if test="bname != null">
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bnumber != null">
        bnumber = #{bnumber,jdbcType=INTEGER},
      </if>
      <if test="bmoney != null">
        bmoney = #{bmoney,jdbcType=VARCHAR},
      </if>
      <if test="pay != null">
        pay = #{pay,jdbcType=INTEGER},
      </if>
      <if test="supplier != null">
        Supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="describ != null">
        describ = #{describ,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycq.ddshop.pojo.po.Bill">
    update bill
    set bname = #{bname,jdbcType=VARCHAR},
      bnumber = #{bnumber,jdbcType=INTEGER},
      bmoney = #{bmoney,jdbcType=VARCHAR},
      pay = #{pay,jdbcType=INTEGER},
      Supplier = #{supplier,jdbcType=VARCHAR},
      describ = #{describ,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ycq.ddshop.pojo.po.Bill">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
    <result column="bnumber" jdbcType="INTEGER" property="bnumber" />
    <result column="bmoney" jdbcType="VARCHAR" property="bmoney" />
    <result column="pay" jdbcType="INTEGER" property="pay" />
    <result column="Supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="describ" jdbcType="VARCHAR" property="describ" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, bname, bnumber, bmoney, pay, Supplier, describ, time
  </sql>
  <select id="selectByExample" parameterType="com.ycq.ddshop.pojo.po.BillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ycq.ddshop.pojo.po.BillExample">
    delete from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ycq.ddshop.pojo.po.Bill">
    insert into bill (bid, bname, bnumber, 
      bmoney, pay, Supplier, 
      describ, time)
    values (#{bid,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR}, #{bnumber,jdbcType=INTEGER}, 
      #{bmoney,jdbcType=VARCHAR}, #{pay,jdbcType=INTEGER}, #{supplier,jdbcType=VARCHAR}, 
      #{describ,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ycq.ddshop.pojo.po.Bill">
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bname != null">
        bname,
      </if>
      <if test="bnumber != null">
        bnumber,
      </if>
      <if test="bmoney != null">
        bmoney,
      </if>
      <if test="pay != null">
        pay,
      </if>
      <if test="supplier != null">
        Supplier,
      </if>
      <if test="describ != null">
        describ,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bnumber != null">
        #{bnumber,jdbcType=INTEGER},
      </if>
      <if test="bmoney != null">
        #{bmoney,jdbcType=VARCHAR},
      </if>
      <if test="pay != null">
        #{pay,jdbcType=INTEGER},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="describ != null">
        #{describ,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ycq.ddshop.pojo.po.BillExample" resultType="java.lang.Integer">
    select count(*) from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bill
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.bname != null">
        bname = #{record.bname,jdbcType=VARCHAR},
      </if>
      <if test="record.bnumber != null">
        bnumber = #{record.bnumber,jdbcType=INTEGER},
      </if>
      <if test="record.bmoney != null">
        bmoney = #{record.bmoney,jdbcType=VARCHAR},
      </if>
      <if test="record.pay != null">
        pay = #{record.pay,jdbcType=INTEGER},
      </if>
      <if test="record.supplier != null">
        Supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.describ != null">
        describ = #{record.describ,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bill
    set bid = #{record.bid,jdbcType=INTEGER},
      bname = #{record.bname,jdbcType=VARCHAR},
      bnumber = #{record.bnumber,jdbcType=INTEGER},
      bmoney = #{record.bmoney,jdbcType=VARCHAR},
      pay = #{record.pay,jdbcType=INTEGER},
      Supplier = #{record.supplier,jdbcType=VARCHAR},
      describ = #{record.describ,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycq.ddshop.pojo.po.Bill">
    update bill
    <set>
      <if test="bname != null">
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bnumber != null">
        bnumber = #{bnumber,jdbcType=INTEGER},
      </if>
      <if test="bmoney != null">
        bmoney = #{bmoney,jdbcType=VARCHAR},
      </if>
      <if test="pay != null">
        pay = #{pay,jdbcType=INTEGER},
      </if>
      <if test="supplier != null">
        Supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="describ != null">
        describ = #{describ,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycq.ddshop.pojo.po.Bill">
    update bill
    set bname = #{bname,jdbcType=VARCHAR},
      bnumber = #{bnumber,jdbcType=INTEGER},
      bmoney = #{bmoney,jdbcType=VARCHAR},
      pay = #{pay,jdbcType=INTEGER},
      Supplier = #{supplier,jdbcType=VARCHAR},
      describ = #{describ,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>